<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="car-body">
        <h4 class="card-title">Hospitales</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let hospital of hospitales" class="pointer" [routerLink]="['/hospitales']">
              <td><img class="w50" [src]="hospital.img | imagen:'hospital'"></td>
              <td>Nombre</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="hospitales.length  === 0">
          No se hay registros
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="car-body">
        <h4 class="card-title">Médicos</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let medico of medicos" class="pointer" [routerLink]="['/medicos']">
              <td><img class="w50" [src]="medico.img | imagen:'medico'"></td>
              <td>{{medico.nombre}}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="medicos.length  === 0">
          No hay registros
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="car-body">
        <h4 class="card-title">Usuarios</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let usuario of usuarios" class="pointer" [routerLink]="['/usuarios']">
              <td><img class="w50" [src]="usuario.img | imagen"></td>
              <td>{{usuario.nombre}}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="usuarios.length  === 0">
          No se hay registros
        </div>
      </div>
    </div>
  </div>
</div>
